:root{
    --corama:#f1c40f;
    --coraz:#2c3e50;
    --corver:#e74c3c;
}

body{
    background-color: var(--coraz);
}
h1{
    color: white;
}
h3{
    color: var(--corama);
}
ul{
    color: white;
}
h2{
    background-color: var(--corama);
    border: 2px solid;
}
#importante{
    color: var(--corver)
}